body {
  background-color: #002;
  color: rgb(170, 171, 172);
}

.img-container {
  width: 100vw;
  margin: 0 auto;
}

img {
  width: 100%;
  display: inline-block;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 5px 15px;
  background-color: #ddd;
  border: 2px solid green;
}
#code {
  color: white;
  font-size: 30px;
}
textarea {
  width: 80vw;
  margin: 0 auto;
}